{% extends "internal.html" %}
{% block navbar %}{% include "inner-nav.html" %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <p>Member since: {{user.created_at}}</p>
    <p>{{user.username}}</p>
    <p>
      {% if user.description %}
      {{user.description}}
      {% else %}
      {{user.first_name}} hasn't edited their description yet!
      {% endif %}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <form method="POST" action="/users/{{user.id}}/message">
      {% csrf-field %}
      <textarea name="text"></textarea>
      <button type="submit">Send message</button>
    </form>
  <div>
</div>

<div class="row">
  <div class="col-md-12">
    {% for message in messages %}
    <h3>{{message.username}} said</h3>
    <p>{{message.text}}</p>
    {% if message.user_id = current-user.id %}
    <form method="POST" action="/messages/{{message.id}}/delete">
      {% csrf-field %}
      <button type="submit">Delete</button>
    </form> 
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
